$light-color: rgb(255, 255, 255);
$dark-color: #555;
$primary-color: #119198;
$secondary-color: rgb(14, 52, 65);
$tertiary-color: rgb(230, 230, 230);
$background-tint: rgba(14, 52, 65, .8);
$box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.82);
