@import 'variables';
@import 'components/station-picker/style';
@import 'components/train-list/style';
@import 'components/time-selector/style';

* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
  background:
    linear-gradient(
      $background-tint,
      $background-tint
    ),
    url('../images/foggy-golden-gate.jpeg') no-repeat no-repeat center center fixed;

  background-size: cover, cover;

  padding-bottom: 4em;
}

.barticle-content {
  margin: 0 auto;
  max-width: 90%;
}

.barticle-header {
  background: $primary-color;
  color: $light-color;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 12px;
  text-align: center;
}

.barticle-station-form {
  box-shadow: $box-shadow;
}

.station-picker__input {
  border-bottom: 1px solid $tertiary-color;
}

.train-list {
  margin-top: 12px;
}

.barticle-time-selector {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  body {
    .barticle-header {
      font-size: 24px;
      height: 48px;
      line-height: 48px;
      margin-bottom: 16px;
    }

    .barticle-content {
      max-width: 600px;
    }
  }
}
