<div class="time-selector__time-selection {{if isNow "time-selector__selected"}}" {{action "selectTime" "now"}}>Now</div>
<div class="time-selector__time-selection {{if isNow "" "time-selector__selected"}}" {{action "selectTime" "all"}}>All</div>
