.station-picker {

  &__input {
    background: $primary-color;
    border: 0;
    color: $light-color;
    font-size: 16px;
    padding: 12px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__tile {
    border-bottom: solid 1px $tertiary-color;
    color: $dark-color;
    font-size: 16px;
    padding: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__dot-primary,
  &__dot-secondary {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    line-height: 10px;
    margin-right: 5px;
    width: 10px;
  }

  &__dot-primary {
    background: $primary-color;
  }

  &__dot-secondary {
    background: $secondary-color;
  }

}
