.time-selector {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;

  &__time-selection {
    background: $light-color;
    box-shadow: $box-shadow;
    color: $dark-color;
    cursor: pointer;
    flex: 0 1 64px;
    padding: 8px 0;
    text-align: center;
    transition: background .25s ease-in-out;
  }

  &__selected {
    background: $secondary-color;
    color: $light-color;
  }
}
