.train-list {
  display: flex;
  flex-direction: column;
}

.train-tile {
  align-items: center;
  background: $light-color;
  border-bottom: solid 1px $tertiary-color;
  color: $dark-color;
  display: flex;
  font-size: 14px;
  height: 55px;
  justify-content: space-between;
  padding: 10px;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    padding: 5px 0;
  }
}
